<app-header titulo="Cards"></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <!-- carta en modo ios -->

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <!-- cartas personalizada por nosotros -->
  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

   <ion-card-content>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta itaque animi temporibus, velit reiciendis commodi ullam aspernatur repudiandae quas nisi odit recusandae voluptatibus vero, enim quasi ad dolore quisquam. Iusto?
   </ion-card-content>

  </ion-card>

<ion-card>
  <ion-img src="/assets/shapes.svg"></ion-img>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima doloribus sed eos repudiandae ea nisi deleniti dolores ut, sit laboriosam repellat, aperiam modi incidunt reiciendis quae sequi perspiciatis atque labore.
  </ion-card-content>
</ion-card>

</ion-content>
