<ion-header class="ion-no-border">
  <ion-toolbar>

<!-- agregaremos un boton para mostrar el menu -->
<ion-buttons slot="start">
  <!-- <ion-button (click)="toggleMenu()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button> -->

 <!-- otra forma de mostrar el menu --> 
  <ion-buttons slot="start">
    <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
  </ion-buttons>

</ion-buttons>



    <ion-title color="primary">
      Componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Componentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
<!-- ion list -->

<ion-list>

  <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo" detail> <!-- detail muestra una pequeña flecha que indica que se puese tocar -->
    <ion-icon slot="start"
              [name]="c.icon"
              color="primary"></ion-icon>  <!-- usa [] por que el name viene de una arreglo de homepage.ts -->
    <ion-label>{{c.name}}</ion-label>
  </ion-item>

</ion-list>

<!--  -->


<!-- <ion-button routerLink="/alert">
  alert
</ion-button>

<ion-button [routerLink]="['/action-sheet']">
  action-sheet  
</ion-button> -->

</ion-content>
